<div class="main-contents container">
      <div class="row">
        <aside class="col-3 mb-4">
          <%= render "category" %>
        </aside>
      	<main class="col-9 mb-4">
          <h1 class="h3 font-weight-bold">Questions</h1>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Rank</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Updated Time</th>
              </tr>
            </thead>
            <tbody>
              <% @questions.each do |question| %>
                     <tr>
                           <td><i class="fas fa-fire ml-2"></i></td>
                           <td>
                             <% question.category_list.map do |tag| %>
                               <%= link_to tag, question_tag_path(tag), class: "mr-2" %>
                             <% end %>
                           </td>
                           <td><%= link_to(question_path(question), class: "text-dark") do %><%= question.subject %><% end %></td>
                           <td><%= question.updated_at %></td>
                     </tr>
              <% end %>
            </tbody>
          </table>
        </main>
      </div>
    </div>