<div class="container main-contents">
    <h1 class="h3 font-weight-bold">Questions</h1>
    <%= form_for(@question, url: questions_path) do |f| %>
    
    <%= f.text_field :subject, class:"form-control mt-4", placeholder:"題名" %>
    <%= f.text_area :content, rows:'10', class:"form-control mt-4", placeholder:"内容" %>
    
    <div class="category-checkboxs mt-4">
        <% ["DNA","RNA","Protein","RNA"].each do |category| %>
        <span class="checkbox mr-3">
            <%= f.check_box :category_list, {multiple: true}, category, nil %>
            <%= category %>
        </span>
        <% end %>
    </div>
    <br>
    <div class="clearfix">
        <%= f.submit 'Create Question', class:"float-right mt-2 btn btn-primary btn-md create-question" %>
    </div>
    
    <% end %>

</div>