<div class="main-contents container">
      <div class="row">
        <aside class="col-3 mb-4">
          <%= render "category" %>
        </aside>
      	<main class="question col-9 mb-4">
            <h1 class="h3 font-weight-bold float-left">Question</h1>
            <% if current_user == @question.user %>
            <div class="clearfix">
              <%= link_to "質問を削除",@question, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "float-right btn btn-sm btn-light mb-4" %>
            </div>
            <% end %>
          <div class="border-top border-bottom border-dark pt-4 pb-4 mb-4">
            <span class="mr-3">ユーザー：<%= @question.user.open_name %></span>
            <span>作成日時：<%= @question.updated_at %></span>
            <h3 class="mb-1 mt-3 font-weight-bold h4"><%= @question.subject %></h3>
            <% @question.category_list.map do |tag| %>
              <%= link_to tag, question_tag_path(tag), class: "mr-2" %>
            <% end %>
            <div class="mt-4"><%= simple_format(@question.content) %></div>
          </div>
          <div class="row">
            <div class="comment-form col-12">
              <%= form_for [@question, @comment] do |f| %>
        		    <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメント・アドバイスなどを入力してください。" %>
      		      <%= f.submit "送信", class: "btn btn-sm btn-info mt-2 mb-4 float-right" %>
        			<% end %>
      			</div>
          </div>
          <div class="row border-left  border-dark ml-1">
            <% @comments.each do |comment| %>
              <div class="border-top pt-4 pb-4 col-12 ml-3">
                <span class="mr-4">
                  名前：<%= comment.user.open_name %>
                </span>
                <span><%= comment.created_at %></span>
                <div class="mt-4"><%= simple_format(comment.comment) %></div>
                <% if comment.user == current_user %>
                  <%= link_to "コメント削除", question_question_comment_path(comment.id), method: :delete, class: "btn btn-sm btn-light float-right" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </main>
      </div>
    </div>