<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-signin text-center align-center container'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <h1 class="h3 mb-4 font-weight-bold">新規登録</h1>
    
    <%= f.label :open_name, "Open Name", class: "sr-only" %>
    <%= f.text_field :open_name, autofocus: true, class:"form-control mt-4", id:"inputOpenName", placeholder:"公開される名前"%>

    <%= f.label :private_name, "Private Name", class: "sr-only" %>
    <%= f.text_field :private_name, autofocus: true, class:"form-control mt-4", id:"inputPrivateName", placeholder:"公開されない名前"%>

    <%= f.label :email, "Email Address", class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-4", id: "inputEmail", placeholder: "メールアドレス" %>

    <%= f.label :password, "Password", class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "password", class: "form-control mt-4", id: "inputPassword", placeholder: "パスワード" %>
    
    <%= f.label :password_confirmation, "Password", class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "password", class: "form-control mt-4 mb-4", id: "inputPassword", placeholder: "確認パスワード" %>

    <%= f.submit "登録", class: "btn btn-lg btn-primary btn-block" %>

<% end %>

<%= render "devise/shared/links" %>