<!DOCTYPE html>
<html>
  <head>
    <title>OpenResearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% if !user_signed_in? %>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link_to "OpenResearch", root_path, class: "navbar-brand font-weight-bold" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "登録", new_user_registration_path, class: "btn btn-outline-light mr-2 mt-2 mb-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light mr-2 mt-2 mb-1" %>
            </li>
          </ul>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link_to "OpenResearch", root_path, class: "navbar-brand font-weight-bold" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Questions", questions_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Discussions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Protocols</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Private</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#">My Laboratory</a>
                <a class="dropdown-item" href="#">Private Discussions</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accunt</a>
              <div class="dropdown-menu" aria-labelledby="dropdown05">
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: "delete" %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer class="bg-dark text-center">
  	<span class="text-light">Open Reserch</span>
  </footer>
</html>
